<!DOCTYPE HTML>
<html>
<head>
	<title>Employeeinneed</title>
	<link rel = "icon" href ="/images/favicon.ico" type = "image/favicon">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/
	font-awesome.min.css">
	<!-- <link rel="stylesheet" href="/css/style-inner.css?q=2"> -->
	<link rel="stylesheet" href="/css/style.css?q=<%= new Date().getTime();%>">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-static-top navbar-expand-lg  navbar-dark bg-dark w-100">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		 <a href="/"> <img src="/images/logo-2.png" alt=""></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/find-jobs"><strong>Find Jobs</strong></a></li>
					<li><a href="/services"><strong>Services</strong></a></li>
					<li><a href="/candidate/my-resume"><strong>Upload Your Resume</strong></a></li>
					<li><a href="/employer/post-new-job"><strong>Post Your Free Jobs</strong></a></li>
					<li><a href="/contact"><strong>Contact</strong></a></li>
					 <li class="dropdown">
						  <a href="#" class="btn-login nav-buttons dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
						  <ul class="dropdown-menu">
							<li style="border-bottom: 1px solid #ccc;"><a href="/candidate/login">Candidate Login</a></li>
							<li><a href="/employer/login">Employer Login</a></li>
						  </ul>
						</li>
						<li class="dropdown">
						  <a href="#" class="btn btn-signup nav-buttons dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SignUp</a>
						  <ul class="dropdown-menu">
							<li style="border-bottom: 1px solid #ccc;"><a href="/candidate/signup">Register to Upload your<br> Resume</a></li>
							<li><a href="/employer/signup">Register to Post Your Free<br> Jobs(Employers Only)</a></li>
						  </ul>
						</li>
				</ul>
		</div>
		</nav>	
	</div>
	