<%- partial("./partials/new-public-header.ejs") %>

<!-- SEO meta data -->
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">



<style>
  .inner-header-title {
    height: 320px;
    background-position: 0% 17%;
}
</style>

<body>
  <div style="display: flex;justify-content:center;">
    <img src="/img/404.jpg" style="object-fit:contain;width:60%;height: 60%;padding-top: 50px;"  alt="">

  </div>
  <%-partial("partials/new-public-footer.ejs")%>
