<%- partial("partials/new-public-header.ejs") %>


    <style>
      .inner-header-title {
        background-position-y: center !important;
      }

      .container p {
        text-transform: initial;
      }
    </style>


    <body>
      <div class="Loader"></div>
      <div class="wrapper">


        <!-- Title Header Start -->
        <section class="inner-header-title" style="background-image:url(/img/slider/4.jpg);">
          <div class="container">
            <h1>About</h1>
          </div>
        </section>
        <div class="clearfix"></div>
        <!-- Title Header End -->

        <!-- Tab Section Start -->
        <section class="tab-sec gray">
          <div class="container">
            <div class="new-logwrap">
              <div class="mrg-bot-30">

                <div class="my-5" style="margin-bottom: 2.5rem;">
                  <h2>About</h2>
                  <p>An “Automated” enabled “Job Board Platform” for the jobseekers to post and adverting their profile in
                    USA job market, searching, and applying for suitable jobs in an automated smart job search and advance
                    job search.</p>
              </div>
                <div class="my-5" style="margin-bottom: 2.5rem;">
                  <h2>Mission</h2>
                  <p>We want ease down the quality employee hiring process for every business in America.</p>
              </div>
                <div class="my-5" style="margin-bottom: 2.5rem;">
                  <h2>Vision</h2>
                  <p>Encouraging and supporting all kinds of busiensses making the hiring simple and in a few clicks.</p>
              </div>


              <div class="my-5" style="margin-bottom: 2.5rem;">
                <h2> Details for Jobseekers</h2>
                <p>
                  An “Automated” enabled “Job Board Platform” for the jobseekers to post and adverting their profile in
                  USA job market, searching, and applying for suitable jobs in an automated smart job search and advance
                  job search.
                </p>
              </div>

              <div class="my-5" style="margin-bottom: 2.5rem;">
                <h2> Details for Recruiters:</h2>
                <p>
                  An “Automated” enabled “Job Board Platform” for the Recruiters to post and adverting jobs in USA job market, sourcing suitable consultants in an automated smart process, advanced sourcing and tracking the entire application process until the consultants are on board.

                </p>
              </div>

              </div>

            </div>

          </div>
        </section>
        <!-- Tab section End -->
        <%-partial("partials/new-public-footer.ejs")%>

          <script src="/js/employer/forgot-password.js"></script>
