<%- partial("partials/new-public-header.ejs") %>

<style>
  .inner-header-title {
    background-position-y: center !important;
  }
</style>


<body>
  <div class="Loader"></div>
  <div class="wrapper">


    <!-- Title Header Start -->
    <section class="inner-header-title" style="background-color: #999;">
      <div class="container">
        <h1 class="text-white">Forgot Password</h1>
      </div>
    </section>
    <div class="clearfix"></div>
    <!-- Title Header End -->

    <!-- Tab Section Start -->
    <section class="tab-sec gray">
      <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2">
          <div class="new-logwrap">

            <div class="tab-content">

              <div id="employer" class="tab-pane fade in active">
                <form id="forgot-password-form">

                  <div class="form-group">
                    <label>Email Address</label>
                    <div class="input-with-icon">
                      <input type="hidden" name="type" value="<%= req.param('type') %>" >
                      <input type="email" name='email' id="email" class="form-control"
                        placeholder="Enter registered email" required>
                      <i class="theme-cl ti-lock"></i>
                    </div>
                  </div>


                  <div class="form-groups">
                    <button type="submit" class="btn btn-primary theme-bg full-width">Submit</button>
                  </div>


                </form>
              </div>


            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- Tab section End -->
    <%-partial("partials/new-public-footer.ejs")%>

    <script src="/js/forgot-password.js"></script>

  