<%- partial("./partials/public-header.ejs") %>

  <!-- SEO meta data -->

  <%- partial("./partials/public-header-2.ejs") %>
    <style>
      .video-center-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
      }



    </style>
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/slider-styles.css">

    <body>
      <div class="clearfix"></div>
      <!-- Slider Start -->
      <div id="rs-slider" class="rs-slider slider8">
        <div class="slider-carousel owl-carousel">
          <!-- Slide 1 -->
          <div class="slider slide1">
            <div class="container">
              <div class="content-part">
                <div class="slider-des">
                  <div class="sl-subtitle "> <h1 class="sl-subtitle">Employee In Need</h1> </div>
                  <h2 class="sl-title mb-0">A job portal that is free for everyone.</h2>


                </div>

              </div>
            </div>
          </div>
          <!-- Slide 1 -->
          <div class="slider slide2">
            <div class="container">
              <div class="content-part">
                <div class="slider-des">
                  <div class="sl-subtitle ">For Business</div>
                  <h2 class="sl-title mb-0 " style="color: #ffffff;">Free to Publish jobs & hire quality candidates.</h2>


                </div>

              </div>
            </div>
          </div>
          <!-- Slide 2 -->
          <div class="slider slide3">
            <div class="container">
              <div class="content-part">
                <div class="slider-des">
                  <div class="sl-subtitle " style="color: white;">#ForJobSeekers </div>
                  <h2 class="sl-title mb-0 text-white">Find jobs that helps you <br>grow professionally.</h2>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider End -->



      <!-- Main Banner Section Start -->
      <div class="banner home-gray" style="padding-top: 30px;">
        <div class="container">
          <div class="row align-center">
            <div class="col-lg-4 col-md-5">
              <div class="">
                <img class="img-fluid" src="/img/home/1.jpg" alt="">
            </div>
            </div>

            <div class="col-lg-8 col-md-7">
              <div class="banner-caption dark">
                <div class="col-md-12 col-sm-12 banner-text left">
                  <h2 class="small">For Businesses</h2>
                  <p class="ein-home-para" style="margin-top: -30px;">
                    EmployeeInNeed is a job publishing platform that helps your business recruit quality candidates for free. Our goal to support all types of businesses in hiring the right candidate that matches their professional and organizational goals. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- Main Banner Section End -->

      <!-- Main Banner Section Start -->
      <div class="banner home-gray">
        <div class="container">
          <div class="row align-center">

            <div class="col-lg-8 col-md-7">
              <div class="banner-caption dark">
                <div class="col-md-12 col-sm-12 banner-text left">
                  <h2 class="small">For Candidates:</h2>
                  <div>
                    <p class="ein-home-para" style="margin-top: -30px;">It's a universal free job search platform where students can search, filter, apply and remain updated with their status of the application across the US.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-5">


              <div class="col-lg-4 col-md-5">
                <div class="img-fluid">
                  <img src="/img/home/2.jpg" alt="">
              </div>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- Main Banner Section End -->

      <!-- video section Start -->
      <section class="video-sec dark" id="video" style="background-image:url(/img/how-to-thumb.jpg);">
        <div class="container">
          <div class="row">
            <div class="main-heading">
              <p>How it works?</p>
              <h2>Watch Our video</h2>
            </div>
          </div>
          <!--/row-->
          <div class="video-part">
            <a href="#" data-toggle="modal" data-target="#what-is-ein" class="video-btn"><i class="fa fa-play"></i></a>
          </div>
        </div>
      </section>





      <!-- Video Modal Starts -->
<div class="modal fade" id="what-is-ein" tabindex="-1" role="dialog" aria-labelledby="what-is-ein" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding: 0px 0px 0px 00px;">
      <div class="" style="background-color: #ffffff;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="p1" class="modal-body">
        <iframe style="" width="560" height="315" src="https://www.youtube.com/embed/SPGnrKkJgrM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>



    </div>
  </div>
</div>
<!-- Video Modal Ends -->



      <div class="clearfix"></div>
      <!-- video section Start -->

      <!-- ====================== How It Work ================= -->
      <section class="how-it-works">
        <div class="container">

          <div class="row" data-aos="fade-up">
            <div class="col-md-12">
              <div class="main-heading">
                <p>For Student:</p>
                <h2>How It <span>Works</span></h2>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-4 col-sm-4">
              <div class="working-process">
                <span class="process-img">
                  <img src="/img/step-1.png" class="img-responsive" alt="" />
                  <span class="process-num">01</span>
                </span>
                <h4>Create An Account</h4>
                <p>Create an account by filling relevant details and complete your profile. Filling the details will increase your reach and trust for employers.</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="working-process">
                <span class="process-img">
                  <img src="/img/step-2.png" class="img-responsive" alt="" />
                  <span class="process-num">02</span>
                </span>
                <h4>Search Jobs</h4>
                <p>Search for jobs arround you by entering job roles you are interested and add location to find jobs near you.</p>
              </div>
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="working-process">
                <span class="process-img">
                  <img src="/img/step-3.png" class="img-responsive" alt="" />
                  <span class="process-num">03</span>
                </span>
                <h4>Save & Apply</h4>
                <p>After jobs that matches you profile and keep an eye on you email and employeeinneed dashboard.</p>
              </div>
            </div>

          </div>

        </div>
      </section>
      <div class="clearfix"></div>




      <!-- ============================ Before Footer ================================== -->
      <!-- <div class="before-footer">
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-sm-6">
              <div class="jb4-form-fields">
                <h3 class="cl-white">Developed to Contribute</h3>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 hill">
              <ul class="job ein-facts">
                <li><span>2744</span></br>Jobs Posted</li>
                <li><span>2365</span></br>Jobs Posted</li>
                <li><span>2021</span></br>Freelancer</li>
                <li><span>7542</span></br>Companies</li>
              </ul>
            </div>

          </div>
        </div>
      </div> -->
      <!-- ============================ Before Footer ================================== -->

      <!-- ============================ Footer Start ================================== -->
      <footer class="dark-footer skin-dark-footer">
        <div>
          <div class="container">
            <div class="row">



              <div class="col-lg-2 col-md-2">
                <div class="footer-widget">
                  <h4 class="widget-title">Quick links</h4>
                  <ul class="footer-menu">
                    <li><a href="/">Home </a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a style="letter-spacing:-0.5px;font-size:12px" href="/privacy-policy-and-terms">Privacy Policy
                        & Terms of Service</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-2 col-md-2">
                <div class="footer-widget">
                  <h4 class="widget-title">Job Search</h4>
                  <ul class="footer-menu">
                    <li><a href="index-2.html">Search jobs</a></li>
                    <li><a href="index-3.html">Search jobs across US</a></li>

                  </ul>
                </div>
              </div>

              <div class="col-lg-2 col-md-2">
                <div class="footer-widget">
                  <h4 class="widget-title">My Account</h4>
                  <ul class="footer-menu">
                    <li><a href="/candidate/login">Candidate Login</a></li>
                    <li><a href="/employer/login">Company Login</a></li>
                    <li><a href="/candidate/signup">Candidate Register</a></li>
                    <li><a href="/employer/signup">Company Register</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="footer-widget">
                  <h4 class="widget-title">Social Media</h4>
                  <ul class="footer-menu">
                    <li><a href="https://www.facebook.com">Facebook</a></li>

                    <li><a href="https://www.linkedin.com">Linkedin</a></li>
                    <li><a href="https://www.google.com/maps/">Google Maps</a></li>
                    <li><a href="https://www.twitter.com">Twitter</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="footer-widget">
                  <h4 class="widget-title">Contact Us</h4>

                  <div class="footer-add">
                    <div><u>For General Information</u>:</u>
                      </br>
                      contacts@employeeinneed.com
                      </br>
                      info@employeeinneed.com

                    </div>
                    </br>

                    <div><u>For Social Media</u>:</u>
                      </br>
                      social@employeeinneed.com

                    </div>
                    </br>

                    <div><u>For Legal</u>:</u>
                      </br>
                      legal@employeeinneed.com

                    </div>

                  </div>
                </div>




              </div>
            </div>
          </div>

          <div class="footer-bottom">
            <div class="container">
              <div class="row align-items-center">

                <div class="col-lg-6 col-md-6">
                  <p class="mb-0">Copyright © 2020 EIN EmployeeInNeed</p>
                  <p class="mb-0">Advanced job search for jobs in America</p>
                </div>

                <div class="col-lg-6 col-md-6 text-right">
                  <ul class="footer-bottom-social">
                    <li><a href="https://www.facebook.com"><i class="ti-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="ti-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="ti-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com"><i class="ti-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
      </footer>
      <!-- ============================ Footer End ================================== -->

      <!-- Scripts
			================================================== -->
      <script type="text/javascript" src="/plugins/js/jquery.min.js"></script>
      <script type="text/javascript" src="/plugins/js/viewportchecker.js"></script>
      <script type="text/javascript" src="/plugins/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="/plugins/js/bootsnav.js"></script>
      <script type="text/javascript" src="/plugins/js/select2.min.js"></script>
      <script type="text/javascript" src="/plugins/js/wysihtml5-0.3.0.js"></script>
      <script type="text/javascript" src="/plugins/js/bootstrap-wysihtml5.js"></script>
      <script type="text/javascript" src="/plugins/js/datedropper.min.js"></script>
      <script type="text/javascript" src="/plugins/js/dropzone.js"></script>
      <script type="text/javascript" src="/plugins/js/loader.js"></script>
      <script type="text/javascript" src="/plugins/js/owl.carousel.min.js"></script>
      <script type="text/javascript" src="/plugins/js/slick.min.js"></script>
      <script type="text/javascript" src="/plugins/js/gmap3.min.js"></script>
      <script type="text/javascript" src="/plugins/js/jquery.easy-autocomplete.min.js"></script>
      <!-- Custom Js -->
      <script src="/js/custom.js"></script>
      <script type="text/javascript" src="/plugins/js/counterup.min.js"></script>
      <script>
        //slider
        var slidercarousel = $('.slider-carousel');
        if (slidercarousel.length) {
          $(".slider-carousel").owlCarousel({
            margin: 0,
            nav: false,
            navText: [
              "<i class='fa fa-angle-left'></i>",
              "<i class='fa fa-angle-right'></i>"
            ],
            loop: true,
            dots: true,
            mouseDrag: false,
            items: 1,
            autoplay: true,
            animateOut: 'fadeOut',
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsiveClass: true
          });
        }

      </script>
      </div>
    </body>

    </html>
