<!DOCTYPE HTML>
<html>
<head>

<title>employeeinneed</title>
  <link rel = "icon" href ="/images/favicon.ico" type = "image/favicon">
	 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0  shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/plugins/css/plugins.css"> 
  <link rel="stylesheet" href="/css/style-inner.css?q=<%= new Date().getTime();%>">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
  <style>
    input:disabled{
      background: #ececec!important;
    }
    .countries{
      /* display: none; */
    }
  </style>
</head>
<body>

	<div class="container-fluid new-menu">
		<nav class="navbar navbar-static-top navbar-expand-lg  navbar-dark bg-dark w-100">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		 <a href="/employer/dashboard"> <img src="/images/logo-2.png" alt=""></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/employer/dashboard">Dashboard</a></li>
				<li class="active"><a href="/employer/support-us">Support</a></li>
					
			
				<li class="dropdown left-br">
					<a href="/employer/logout" class="btn-login nav-buttons signin">Logout</a>
				</li>
			</ul>
		</div>
		</nav>
	</div>

	<!-- <div class="emp-header">
		<div class="container-fluid ein-top-header">
			<nav class="navbar navbar-static-top navbar-expand-lg  navbar-dark bg-dark w-100">
			<div class="navbar-header">
			 <a href="/" class="main-logo"> <img src="/images/logo-2.png" alt="" width="300px"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="dropdown">
						<a href="/employer/dashboard">Dashboard</a>
					  </li>
					  <li class="dropdown">
						<a href="/employer/support-us">Support</a>
					  </li>
				  </ul>
				<ul class="nav navbar-nav">
					<li class="dropdown left-br">
						<a href="/employer/logout" class=" signin">Logout</a>
					</li>
				</ul>
			</div>
			</nav>	
		</div>
	</div> -->