<%- partial("./partials/new-public-header.ejs") %>
<section id="service">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h2 class="text-white text-center">Our Services</h2>
					<p class="text-white text-center">Your jobs postings will be visible to the ideal candidates with a single click. We have the tools to guarantee the perfect hiring process. Our powerful technology can look through thousands of resumes to match recruiters with the right jobseekers.
					Advertise your jobs for free at Employee in Need today! It is easy and only takes a few steps and take benifits of these services also.</p>
				</div>
			</div>
		</div>
	</section>
	
	<section>
		<div class="row services">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center text-center">
				<div class="reach">
					<a href="/contact"><button type="button" class="btn btn-connect">Reach Us Now!</button></a>
				</div>
			</div>
		</div>		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/service3.jpg" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>USA IT Staffing -</strong></h4>
								<h5 class="text-muted">We can supply contract employees. </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>If you need help with IT staffing, you have arrived at the right destination. 
										Partner with Employee in Need to ensure that your IT staffing process undergoes a smooth operation. 
										We provide a range of services and offer recruiter support.
										</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/service3.jpg" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>USA IT Staffing -</strong></h4>
								<h5 class="text-muted">We can supply contract employees. </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>If you need help with IT staffing, you have arrived at the right destination. 
										Partner with Employee in Need to ensure that your IT staffing process undergoes a smooth operation. 
										We provide a range of services and offer recruiter support.
										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s2.png" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>(ATS) Integration -</strong></h4>
								<h5 class="text-muted">Applicant tracking system </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>We can integrate your Applicant tracking system (ATS) or your carrier page with Employee in Need.
											API to transfer your job posting from your Applicant tracking system (ATS) to Employee in Need job board for advertising.
										</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s2.png" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>(ATS) Integration -</strong></h4>
								<h5 class="text-muted">Applicant tracking system </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>We can integrate your Applicant tracking system (ATS) or your carrier page with Employee in Need.
											API to transfer your job posting from your Applicant tracking system (ATS) to Employee in Need job board for advertising.
										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s3.png" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>Cloud consulting -</strong></h4>
								<h5 class="text-muted"> Helps to overcome technology and data obstacles </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>We help our clients navigate and adopt the right cloud services to benefit their company.
											Our experienced consultants can help determine the value of each service for your company. We are guaranteed to make the recruitment process simple for you, so reach us for cloud consulting services today!
											</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s3.png" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>Cloud consulting -</strong></h4>
								<h5 class="text-muted"> Helps to overcome technology and data obstacles </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>We help our clients navigate and adopt the right cloud services to benefit their company.
											Our experienced consultants can help determine the value of each service for your company. We are guaranteed to make the recruitment process simple for you, so reach us for cloud consulting services today!
											</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/service1.png" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>Business Applications -</strong></h4>
								<h5 class="text-muted">we take the responsibility to build relevant business applications to support your company</h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>With this never-ending need to grow and innovate among companies,
											we will take the menial, mind-numbing business applications job, and you can focus on the creative aspects. So, reach us for customized business applications today! 
											</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/service1.png" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>Business Applications -</strong></h4>
								<h5 class="text-muted">we take the responsibility to build relevant business applications to support your company</h5>
								<div class="row">
									<div class="col-sm-12">
										<p>With this never-ending need to grow and innovate among companies,
											we will take the menial, mind-numbing business applications job, and you can focus on the creative aspects. So, reach us for customized business applications today! 
											</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s4.png" class="img-fluid" height="180px">
							</div>
							<div class="col-ms-5 col-sm-5 text-left">
								<h4><strong>AI and ML -</strong></h4>
								<h5 class="text-muted">AI and ML solutions to make your recruitment process easier </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>The top priority of all businesses is to hire the right people. With Employee in Need, we help you adapt to these new-age solutions of AI and ML to ensure a foolproof hiring process.
											Our AI and ML solutions can study large chunks of data with ease and help you arrive at an objective and calculated conclusion. 
										</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s4.png" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>AI and ML -</strong></h4>
								<h5 class="text-muted">AI and ML solutions to make your recruitment process easier </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>The top priority of all businesses is to hire the right people. With Employee in Need, we help you adapt to these new-age solutions of AI and ML to ensure a foolproof hiring process.
											Our AI and ML solutions can study large chunks of data with ease and help you arrive at an objective and calculated conclusion. 
										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s5.jpg" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>Process management -</strong></h4>
								<h5 class="text-muted">We can integrate policies, people, and software the right way for the organizations.  </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>We strive towards providing the tools and resources necessary for monitoring and studying business processes to improve performance. 
											Our experts ensure that a crucial part of process management behaviors and technologies undergoes perfect execution.

										</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s5.jpg" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>Process management -</strong></h4>
								<h5 class="text-muted">We can integrate policies, people, and software the right way for the organizations.  </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>We strive towards providing the tools and resources necessary for monitoring and studying business processes to improve performance. 
											Our experts ensure that a crucial part of process management behaviors and technologies undergoes perfect execution.

										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s6.png" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>SaaS and PaaS -</strong></h4>
								<h5 class="text-muted">we provide solutions for both these models </h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>With PaaS solutions from Employee in Need, our clients need not have to worry about non-creative tasks such as security patches and software modifications. 
										<br>The SaaS cloud computing model enables you to access a software application from anywhere as long as there is an internet connection.</p>
										</div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s6.png" class="img-fluid" height="180px">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>SaaS and PaaS -</strong></h4>
								<h5 class="text-muted">we provide solutions for both these models </h5>
								<div class="row">
									<div class="col-sm-12">
										<p>With PaaS solutions from Employee in Need, our clients need not have to worry about non-creative tasks such as security patches and software modifications. 
										<br>The SaaS cloud computing model enables you to access a software application from anywhere as long as there is an internet connection.</p>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="service-detail">
						<div class="row show-list">
							<div class="col-md-7 col-sm-7 content">
								<img src="/images/s7.png" class="img-fluid" height="180px">
							</div>
							<div class="col-md-5 col-sm-5 text-left">
								<h4><strong>Knowledge Management -</strong></h4>
								<h5 class="text-muted">Our professionals can help you arrange, relate, and share information from all over the organization to ensure profit</h5>
								<div class="row">
									<div class="col-md-12 col-sm-12">
										<p>Knowledge management is the process of using collective expertise to better company performance. With Employee in Need, your company can streamline the right ideas at the right time, boosting productivity and saving capital and time. 
										</p></div>
								</div>
							</div>
						</div>
						<div class="row hide-list">
							<div class="col-sm-12 content">
								<img src="/images/s7.png" class="img-fluid">
							</div>
							<div class="col-sm-12 text-left">
								<h4><strong>Knowledge Management -</strong></h4>
								<h5 class="text-muted">Our professionals can help you arrange, relate, and share information from all over the organization to ensure profit</h5>
								<div class="row">
									<div class="col-sm-12">
										<p>Knowledge management is the process of using collective expertise to better company performance. With Employee in Need, your company can streamline the right ideas at the right time, boosting productivity and saving capital and time. 
										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<%- partial("./partials/new-public-footer.ejs") %>
